  <div>
    <div style="display: flex; flex-direction: column;">
      <span><a href="/admin">Dashboard</a></span>
      <span><a href="/admin/promotions">Promotions</a></span>
      <span><a href="/admin/actualites">Actualités</a></span>
      <span><a href="#">Produits</a></span>
      <span><a href="#">Paramètres</a></span>

    </div>
  </div>